@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.content{
  max-width: 340px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.content p{
  color: #8D8787;
  font-weight: 700;
  line-height: 1.5;
}

.galeria-treino{
  display: flex;
  padding: 28px 20px;

  gap: 20px;

  max-width: 500px;
  overflow-x: auto;
  
}

.galeria-treino::-webkit-scrollbar-thumb{
  background: #e7e7e7;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.galeria-treino::-webkit-scrollbar{
  background: #141414;
}
/*
  
*/

.item-treino{
  display: flex;
  flex-direction: column;
  
  width: 700px;
  height: 200px;

  background: linear-gradient(180deg, #131313 30.73%, #0B0B0B 54.69%);;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

.item-treino h3{
  font-family: 'PT Mono', monospace;
  font-size: 1rem;
  max-width: 15ch;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  margin-top: 20px;
}

.item-treino ul,
.item-treino li {
  display: flex;
  gap: 5px;
  font-weight: 500;  
}

.item-treino li{
  width: 70px;
  
}

.item-treino li:nth-child(even):before{
  content: '';
  position: absolute;
  width: 1px;
  height: 24px;
  left: 80px;
  background: #5F5B5B;
}

.item-treino li:nth-child(even):after{
  content: '';
  position: absolute;
  width: 1px;
  height: 24px;
  right: 100px;
  background: #5F5B5B;
}

.item-treino ul{
  margin: 20px 10px 20px 20px; 
  align-items: center; 
}

.item-treino ul img{
  max-width: 25px;
}

.item-treino p{
  font-weight: 400;
}